{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer
        data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
    <details id="Details-menu-drawer-container" class="menu-drawer-container">
        <summary id="close_open_menu"
                 class="header__icon header__icon--menu header__icon--summary link focus-inset"
                 aria-label="{{ 'sections.header.menu' | t }}"
        >
      <span>
        {{- 'icon-hamburger.svg' | inline_asset_content -}}
          {{- 'icon-close.svg' | inline_asset_content -}}
      </span>
        </summary>
        <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
            <div class="menu-drawer__inner-container">
                <div class="menu-drawer__navigation-container">
                    <nav class="menu-drawer__navigation">
                        <ul class="menu-drawer__menu has-submenu list-menu" role="list">
                            {%- for link in section.settings.menu.links -%}
                                <li>
                                    {%- if link.links != blank -%}
                                        <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                                            <summary
                                                    id="HeaderDrawer-{{ link.handle }}"
                                                    class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                                            >
                                                {{ link.title | escape }}
                                                <span class="svg-wrapper">
                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                        </span>
                                                <span class="svg-wrapper">
                          {{- 'icon-caret.svg' | inline_asset_content -}}
                        </span>
                                            </summary>
                                            <div
                                                    id="link-{{ link.handle | escape }}"
                                                    class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                                    tabindex="-1"
                                            >
                                                <div class="menu-drawer__inner-submenu">
                                                    <button class="menu-drawer__close-button link link--text focus-inset"
                                                            aria-expanded="true">
                            <span class="svg-wrapper">
                              {{- 'icon-arrow.svg' | inline_asset_content -}}
                            </span>
                                                        {{ link.title | escape }}
                                                    </button>
                                                    <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                                        {%- for childlink in link.links -%}
                                                            <li>
                                                                {%- if childlink.links == blank -%}
                                                                    <a
                                                                            id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                                                            href="{{ childlink.url }}"
                                                                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                                                            {% if childlink.current %}
                                                                                aria-current="page"
                                                                            {% endif %}
                                                                    >
                                                                        {{ childlink.title | escape }}
                                                                    </a>
                                                                {%- else -%}
                                                                    <details
                                                                            id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                                                                        <summary
                                                                                id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                                                                class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                                                        >
                                                                            {{ childlink.title | escape }}
                                                                            <span class="svg-wrapper">
                                        {{- 'icon-arrow.svg' | inline_asset_content -}}
                                      </span>
                                                                            <span class="svg-wrapper">
                                        {{- 'icon-caret.svg' | inline_asset_content -}}
                                      </span>
                                                                        </summary>
                                                                        <div
                                                                                id="childlink-{{ childlink.handle | escape }}"
                                                                                class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                                                        >
                                                                            <button
                                                                                    class="menu-drawer__close-button link link--text focus-inset"
                                                                                    aria-expanded="true"
                                                                            >
                                        <span class="svg-wrapper">
                                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                                        </span>
                                                                                {{ childlink.title | escape }}
                                                                            </button>
                                                                            <ul
                                                                                    class="menu-drawer__menu list-menu"
                                                                                    role="list"
                                                                                    tabindex="-1"
                                                                            >
                                                                                {%- for grandchildlink in childlink.links -%}
                                                                                    <li>
                                                                                        <a
                                                                                                id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                                                                                href="{{ grandchildlink.url }}"
                                                                                                class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                                                                                {% if grandchildlink.current %}
                                                                                                    aria-current="page"
                                                                                                {% endif %}
                                                                                        >
                                                                                            {{ grandchildlink.title | escape }}
                                                                                        </a>
                                                                                    </li>
                                                                                {%- endfor -%}
                                                                            </ul>
                                                                        </div>
                                                                    </details>
                                                                {%- endif -%}
                                                            </li>
                                                        {%- endfor -%}
                                                    </ul>
                                                </div>
                                            </div>
                                        </details>
                                    {%- else -%}
                                        {% if link.title == 'Shop' %}
                                            <div class="menu-shop-link-content-wrapper">
                                                <p
                                                        id="HeaderDrawer-Shop"
                                                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                                                        {% if link.current %}
                                                            aria-current="page"
                                                        {% endif %}
                                                >
                                                    {{ link.title | escape }}
                                                    <span class="arrow-for-menu">
                                                        <img src="{{ 'arrow-for-menu.svg' | asset_url }}" alt="Arrow down">
                                                    </span>
                                                </p>
                                                <div class="menu-shop-slider-wrapper">
                                                    <div class="swiper">
                                                        <div class="swiper-wrapper">
                                                            {% for collection in collections %}
                                                                <div class="swiper-slide menu-shop-slide">
                                                                    {% if collection %}
                                                                        <a href="{{ collection.url }}">
                                                                            <img src="{{ collection.image | img_url: '480x' }}"
                                                                                 alt="Collection main image">
                                                                            <span>{{ collection.title }}</span>
                                                                        </a>
                                                                    {% else %}
                                                                        <p>Collection not found</p>
                                                                    {% endif %}
                                                                </div>
                                                            {% endfor %}
                                                            <div class="swiper-slide menu-shop-slide">
                                                                <a href="{{ routes.all_products_collection_url }}">
                                                                    <img src="{{ 'shop-all-menu-item.png' | asset_url }}"
                                                                         alt="Shop All image">
                                                                    <span>Shop All</span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="swiper-scrollbar">
                                                            <div class="swiper-scrollbar-drag-custom">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            <a
                                                    id="HeaderDrawer-{{ link.handle }}"
                                                    href="{{ link.url }}"
                                                    class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                                                    {% if link.current %}
                                                        aria-current="page"
                                                    {% endif %}
                                            >
                                                {{ link.title | escape }}
                                            </a>
                                        {% endif %}
                                    {%- endif -%}
                                </li>
                            {%- endfor -%}
                        </ul>
                    </nav>
                    {% comment %}<div class="menu-drawer__utility-links">{% endcomment %}
                    {% comment %}{%- if shop.customer_accounts_enabled -%}{% endcomment %}
                    {% comment %}<a{% endcomment %}
                    {% comment %}href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"{% endcomment %}
                    {% comment %}class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide"{% endcomment %}
                    {% comment %}rel="nofollow"{% endcomment %}
                    {% comment %}>{% endcomment %}
                    {% comment %}{%- if section.settings.enable_customer_avatar -%}{% endcomment %}
                    {% comment %}<account-icon>{% endcomment %}
                    {% comment %}{%- if customer and customer.has_avatar? -%}{% endcomment %}
                    {% comment %}{{ customer | avatar }}{% endcomment %}
                    {% comment %}{%- else -%}{% endcomment %}
                    {% comment %}<span class="svg-wrapper">{% endcomment %}
                    {% comment %}{{- 'icon-account.svg' | inline_asset_content -}}{% endcomment %}
                    {% comment %}</span>{% endcomment %}
                    {% comment %}{%- endif -%}{% endcomment %}
                    {% comment %}</account-icon>{% endcomment %}
                    {% comment %}{%- else -%}{% endcomment %}
                    {% comment %}<span class="svg-wrapper">{% endcomment %}
                    {% comment %}{{- 'icon-account.svg' | inline_asset_content -}}{% endcomment %}
                    {% comment %}</span>{% endcomment %}
                    {% comment %}{%- endif -%}{% endcomment %}
                    {% if false %}
                        {%- liquid
                            if customer
                                echo 'customer.account_fallback' | t
                            else
                                echo 'customer.log_in' | t
                            endif
                        -%}
                    {% endif %}
                    {% comment %}</a>{% endcomment %}
                    {% comment %}{%- endif -%}{% endcomment %}
                    {% comment %}{%- if localization.available_countries or localization.available_languages -%}{% endcomment %}
                    {% comment %}<div class="menu-drawer__localization header-localization">{% endcomment %}
                    {% comment %}{%- if localization.available_countries and localization.available_countries.size > 1 -%}{% endcomment %}
                    {% comment %}<localization-form>{% endcomment %}
                    {% comment %}{%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}{% endcomment %}
                    {% comment %}<div>{% endcomment %}
                    {% comment %}<h2 class="visually-hidden" id="HeaderCountryMobileLabel">{% endcomment %}
                    {% comment %}{{ 'localization.country_label' | t }}{% endcomment %}
                    {% comment %}</h2>{% endcomment %}
                    {% comment %}{%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}{% endcomment %}
                    {% comment %}</div>{% endcomment %}
                    {% comment %}{%- endform -%}{% endcomment %}
                    {% comment %}</localization-form>{% endcomment %}
                    {% comment %}{% endif %}{% endcomment %}
                    {% comment %}{% endcomment %}
                    {% comment %}{%- if localization.available_languages and localization.available_languages.size > 1 -%}{% endcomment %}
                    {% comment %}<localization-form>{% endcomment %}
                    {% comment %}{%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}{% endcomment %}
                    {% comment %}<div>{% endcomment %}
                    {% comment %}<h2 class="visually-hidden" id="HeaderLanguageMobileLabel">{% endcomment %}
                    {% comment %}{{ 'localization.language_label' | t }}{% endcomment %}
                    {% comment %}</h2>{% endcomment %}
                    {% comment %}{%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}{% endcomment %}
                    {% comment %}</div>{% endcomment %}
                    {% comment %}{%- endform -%}{% endcomment %}
                    {% comment %}</localization-form>{% endcomment %}
                    {% comment %}{%- endif -%}{% endcomment %}
                    {% comment %}</div>{% endcomment %}
                    {% comment %}{%- endif -%}{% endcomment %}
                    {% comment %}<ul class="list list-social list-unstyled" role="list">{% endcomment %}
                    {% comment %}{%- if settings.social_twitter_link != blank -%}{% endcomment %}
                    {% comment %}<li class="list-social__item">{% endcomment %}
                    {% comment %}<a href="{{ settings.social_twitter_link }}" class="list-social__link link">{% endcomment %}
                    {% comment %}<span class="svg-wrapper">{% endcomment %}
                    {% comment %}{{- 'icon-twitter.svg' | inline_asset_content -}}{% endcomment %}
                    {% comment %}</span>{% endcomment %}
                    {% comment %}<span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>{% endcomment %}
                    {% comment %}</a>{% endcomment %}
                    {% comment %}</li>{% endcomment %}
                    {% comment %}{%- endif -%}{% endcomment %}
                    {% comment %}{%- if settings.social_facebook_link != blank -%}{% endcomment %}
                    {% comment %}<li class="list-social__item">{% endcomment %}
                    {% comment %}<a href="{{ settings.social_facebook_link }}" class="list-social__link link">{% endcomment %}
                    {% comment %}<span class="svg-wrapper">{% endcomment %}
                    {% comment %}{{- 'icon-facebook.svg' | inline_asset_content -}}{% endcomment %}
                    {% comment %}</span>{% endcomment %}
                    {% comment %}<span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>{% endcomment %}
                    {% comment %}</a>{% endcomment %}
                    {% comment %}</li>{% endcomment %}
                    {% comment %}{%- endif -%}{% endcomment %}
                    {% comment %}{%- if settings.social_pinterest_link != blank -%}{% endcomment %}
                    {% comment %}<li class="list-social__item">{% endcomment %}
                    {% comment %}<a href="{{ settings.social_pinterest_link }}" class="list-social__link link">{% endcomment %}
                    {% comment %}<span class="svg-wrapper">{% endcomment %}
                    {% comment %}{{- 'icon-pinterest.svg' | inline_asset_content -}}{% endcomment %}
                    {% comment %}</span>{% endcomment %}
                    {% comment %}<span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>{% endcomment %}
                    {% comment %}</a>{% endcomment %}
                    {% comment %}</li>{% endcomment %}
                    {% comment %}{%- endif -%}{% endcomment %}
                    {% comment %}{%- if settings.social_instagram_link != blank -%}{% endcomment %}
                    {% comment %}<li class="list-social__item">{% endcomment %}
                    {% comment %}<a href="{{ settings.social_instagram_link }}" class="list-social__link link">{% endcomment %}
                    {% comment %}<span class="svg-wrapper">{% endcomment %}
                    {% comment %}{{- 'icon-instagram.svg' | inline_asset_content -}}{% endcomment %}
                    {% comment %}</span>{% endcomment %}
                    {% comment %}<span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>{% endcomment %}
                    {% comment %}</a>{% endcomment %}
                    {% comment %}</li>{% endcomment %}
                    {% comment %}{%- endif -%}{% endcomment %}
                    {% comment %}{%- if settings.social_tiktok_link != blank -%}{% endcomment %}
                    {% comment %}<li class="list-social__item">{% endcomment %}
                    {% comment %}<a href="{{ settings.social_tiktok_link }}" class="list-social__link link">{% endcomment %}
                    {% comment %}<span class="svg-wrapper">{% endcomment %}
                    {% comment %}{{- 'icon-tiktok.svg' | inline_asset_content -}}{% endcomment %}
                    {% comment %}</span>{% endcomment %}
                    {% comment %}<span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>{% endcomment %}
                    {% comment %}</a>{% endcomment %}
                    {% comment %}</li>{% endcomment %}
                    {% comment %}{%- endif -%}{% endcomment %}
                    {% comment %}{%- if settings.social_tumblr_link != blank -%}{% endcomment %}
                    {% comment %}<li class="list-social__item">{% endcomment %}
                    {% comment %}<a href="{{ settings.social_tumblr_link }}" class="list-social__link link">{% endcomment %}
                    {% comment %}<span class="svg-wrapper">{% endcomment %}
                    {% comment %}{{- 'icon-tumblr.svg' | inline_asset_content -}}{% endcomment %}
                    {% comment %}</span>{% endcomment %}
                    {% comment %}<span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>{% endcomment %}
                    {% comment %}</a>{% endcomment %}
                    {% comment %}</li>{% endcomment %}
                    {% comment %}{%- endif -%}{% endcomment %}
                    {% comment %}{%- if settings.social_snapchat_link != blank -%}{% endcomment %}
                    {% comment %}<li class="list-social__item">{% endcomment %}
                    {% comment %}<a href="{{ settings.social_snapchat_link }}" class="list-social__link link">{% endcomment %}
                    {% comment %}<span class="svg-wrapper">{% endcomment %}
                    {% comment %}{{- 'icon-snapchat.svg' | inline_asset_content -}}{% endcomment %}
                    {% comment %}</span>{% endcomment %}
                    {% comment %}<span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>{% endcomment %}
                    {% comment %}</a>{% endcomment %}
                    {% comment %}</li>{% endcomment %}
                    {% comment %}{%- endif -%}{% endcomment %}
                    {% comment %}{%- if settings.social_youtube_link != blank -%}{% endcomment %}
                    {% comment %}<li class="list-social__item">{% endcomment %}
                    {% comment %}<a href="{{ settings.social_youtube_link }}" class="list-social__link link">{% endcomment %}
                    {% comment %}<span class="svg-wrapper">{% endcomment %}
                    {% comment %}{{- 'icon-youtube.svg' | inline_asset_content -}}{% endcomment %}
                    {% comment %}</span>{% endcomment %}
                    {% comment %}<span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>{% endcomment %}
                    {% comment %}</a>{% endcomment %}
                    {% comment %}</li>{% endcomment %}
                    {% comment %}{%- endif -%}{% endcomment %}
                    {% comment %}{%- if settings.social_vimeo_link != blank -%}{% endcomment %}
                    {% comment %}<li class="list-social__item">{% endcomment %}
                    {% comment %}<a href="{{ settings.social_vimeo_link }}" class="list-social__link link">{% endcomment %}
                    {% comment %}<span class="svg-wrapper">{% endcomment %}
                    {% comment %}{{- 'icon-vimeo.svg' | inline_asset_content -}}{% endcomment %}
                    {% comment %}</span>{% endcomment %}
                    {% comment %}<span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>{% endcomment %}
                    {% comment %}</a>{% endcomment %}
                    {% comment %}</li>{% endcomment %}
                    {% comment %}{%- endif -%}{% endcomment %}
                    {% comment %}</ul>{% endcomment %}
                    {% comment %}</div>{% endcomment %}
                </div>
            </div>
        </div>
    </details>
    <script>
        function initializeSwiper() {
            const swiperElement = document.querySelector('.swiper');

            if (!swiperElement) {
                console.log('Error: Swiper container not found');
                return;
            }

            if (swiperElement.swiper) {
                swiperElement.swiper.destroy(true, true);
            }

            setTimeout(() => {
                new Swiper('.swiper', {
                    slidesPerView: 2.2,
                    loop: false,
                    freeMode: false,
                    draggable: true,
                    spaceBetween: 10,
                    slidesPerGroup: 1,
                    observeParents: true,
                    mousewheel: {
                        invert: false,
                        forceToAxis: true,
                        releaseOnEdges: true,
                        sensitivity: 1,
                    },
                    scrollbar: {
                        el: '.swiper-scrollbar',
                        hide: false,
                        draggable: true,
                        dragSize: 113,
                        snapOnRelease: true,
                        observeParents: true,
                        dragClass: 'swiper-scrollbar-drag-custom'
                    }
                })
            }, 100)

            console.log('Mobile menu Swiper initialized');
        }

        document.addEventListener('DOMContentLoaded', initializeSwiper);
        document.addEventListener('shopify:section:load', initializeSwiper);
    </script>
</header-drawer>
