{{ 'review-card.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'section-testimonials.css' | asset_url | stylesheet_tag }}

<div id="reviews-wrapper" data-reviews="{{ pages.reviews.metafields.custom.reviews | escape }}">
    <div class="reviews-content">
        <div class="reviews-title">
            <h1>{{ section.settings.heading }}</h1>
        </div>
        <script src="{{ 'testimonials.js' | asset_url }}" defer></script>

        <template class="review-card-template">
            <div class="swiper-slide review-card-wrapper">
                <div class="review-card-content">
                    <div class="review-card-header">
                        <div class="product-title-container">
                            <h3 class="product-title">{{ review.product }}</h3>
                        </div>
                        <div class="product-rating">
                            {%- if review.rating != blank -%}
                                {% liquid
                                    assign rating = review.rating | default: 0
                                    assign rating_max = review.scale_max | default: 5
                                    assign rating_count = review.total_reviews | default: 0
                                    assign rating_decimal = 0
                                    assign decimal = review.rating | modulo: 1
                                    if decimal >= 0.3 and decimal <= 0.7
                                        assign rating_decimal = 0.5
                                    elsif decimal > 0.7
                                        assign rating_decimal = 1
                                    endif
                                %}
                                <div class="rating-block">
                                    <div
                                            class="rating"
                                            role="img"
                                            aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: rating, rating_max: rating_max }}"
                                    >
                <span
                        aria-hidden="true"
                        class="rating-star"
                        style="--rating: {{ rating | floor }}; --rating-max: {{ rating_max }}; --rating-decimal: {{ rating_decimal }};"
                ></span>
                                    </div>
                                    <p class="rating-text caption">
                <span aria-hidden="true">
                  {{- rating }} /
                  {{ rating_max -}}
                </span>
                                    </p>
                                    <p class="rating-count caption">
                                        <span aria-hidden="true">({{ rating_count }})</span>
                                        <span class="visually-hidden">
                  {{- rating_count }}
                                            {{ 'accessibility.total_reviews' | t -}}
                </span>
                                    <p id="rating-count">{{ rating_count }}</p>
                                    </p>
                                </div>
                            {%- endif -%}
                        </div>
                    </div>
                    <div class="review-content">
                        <div class="review-person-info">
                            <img src="{{ review.avatar_url }}" alt="Profile image" class="review-card-avatar">
                            <p class="customer_name">{{ review.author }}</p>
                        </div>
                        <div class="review-text">{{ review.comment }}</div>
                    </div>
                </div>
            </div>
        </template>

        <div class="reviews-slider-wrapper">
            <div class="reviews-slider">
                <div id="testimonial-swiper" class="swiper-wrapper reviews-slider-wrapper">

                </div>
                <div class="reviews-pagination"></div>
            </div>
        </div>
    </div>
</div>
<script>
    function initializeSwiper() {
        const swiperElement = document.querySelector('.swiper');

        if (!swiperElement) {
            console.log('Error: Swiper container not found');
            return;
        }

        if (swiperElement.swiper) {
            swiperElement.swiper.destroy(true, true);
        }


        new Swiper('.reviews-slider', {
            slidesPerView: 1,
            draggable: true,
            spaceBetween: 30,
            slidesPerGroup: 1,
            mousewheel: {
                invert: false,
                forceToAxis: true,
                releaseOnEdges: true,
                sensitivity: 1,
            },
            pagination: {
                el: '.reviews-pagination',
                clickable: true,
                dynamicBullets: false
            },
            breakpoints: {
                1024: {
                    slidesPerView: 3,
                    spaceBetween: 48
                }
            }
        })

        console.log('Review Swiper initialized');
    }
    document.addEventListener('DOMContentLoaded', initializeSwiper)
    document.addEventListener('shopify:section:load', initializeSwiper)

</script>

{% schema %}
{
  "name": "Testimonials",
  "tag": "section",
  "class": "testimonials-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Testimonials"
    },
    {
      "type": "color_scheme",
      "id": "background_scheme",
      "label": "Background Color",
      "default": "background-1"
    }
  ],
  "presets": [
    {
      "name": "Testimonials",
      "category": "Text"
    }
  ]
}
{% endschema %}
